editor {
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	margin: 100px;
	margin-bottom: 200px;
	border-radius: 5px;
	pointer-events: none;
	transition: all 0.1s ease-out;
	position: absolute;
	font-family: poppins;
	opacity: 0;

	.filebrowser {
		flex-grow: 1;
		flex-direction: column;
		position: relative;
		left: -500px;
		transition: all 0.3s ease-in;

		.body {
			border-radius: 10px;
			background-color: rgba( #111, 0.7 );
			flex-grow: 1;
		}
	}

	.editwindow {
		margin-left: 10px;
		flex-direction: column;
		min-width: 450px;
		flex-shrink: 0;
		left: 500px;
		transition: all 0.3s ease-in;

		.body {
			//	background-color: rgba( #333, 0.95 );
			flex-grow: 1;
			border-radius: 10px;
			background-color: rgba( #111, 0.7 );
			padding: 10px;

			.tabs {
				font-size: 16px;
				flex-shrink: 0;
				margin-bottom: 4px;
				padding-left: 10px;

				button {
					padding: 6px 5px;
					margin-right: 10px;
					font-size: 13px;
					align-items: center;
					font-weight: 600;
					opacity: 0.2;
					color: #fff;
					cursor: pointer;
					//border-radius: 5px;
					label {
						text-shadow: 1px 1px 4px rgba( black, 0.2 );
					}

					&:hover {
						opacity: 1;
					}

					&.active {
						transform: scale( 1 );
						opacity: 1;
						color: #fff;
						//	background-color: #fff;//( #3273eb, 0.2 );
						//color: #3273eb;
					}
				}
			}

			.fileedit {
				
			}
		}
	}
}

.filetree {
	display: none;

	&.active {
		display: flex;
		opacity: 1;
	}
}
